html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-size: 18px;
	line-height: 1.4;
    font-family: Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    background-color: #F2F4F7;
}

.container main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 900;
    color: #1877F2;
    letter-spacing: -0.5px;
}


.center {
    text-align: center;
}

main {
    padding: 50px;
}

.cards {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
}

.cards h2 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 20px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(188, 188, 188);
}

form input:focus {
    border: 1px solid black;
}

.cards button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: #1877F2;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cards button:hover {
    background-color: #105bbe;
    cursor: pointer;
}

.cards a {
    font-size: 0.9rem;
    display: block;
    text-align: center;
    color: #1877F2;
}

.cards a:hover {
    text-decoration: underline;
}

footer {
    max-width: 900px;
    margin: 30px auto;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #929292;
    font-size: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
